body {
  color: #ddd;
  background-color: #222;
}

a {
  color: #aaaa00;
}

h1 {
  color: #ffffff;
  font-style: bold;
}

.note {
  color: #ddd;
  padding-top: 3px;
  font-size: 15px;
}

button {
  background-color: #666;
  border-color: #999;
}

input {
  background-color: #999;
  border-color: #666;
}

table.user-listing,
th,
td {
  border: 1px solid #666666;
  border-collapse: collapse;
}

table.user-listing tr td {
  padding: 0.25em 0.5em;
}

table.user-listing tr th {
  padding: 0.25em 0.5em;
  text-align: left;
  background-color: #333333;
}

.nav a {
  margin-right: 0.5em;
}

.hide-create {
  margin: 1em 0;
}

.show-create {
  margin-bottom: 1em;
}

.error {
  color: red;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  background: lightgray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.loginBox {
  border: 1px solid #fff;
  padding: 1em;
  margin: 0 0 1em 0;
  width: 20%;
}

.blogListElement {
  margin: 0 0 1em 0;
}

.blogCreate {
  border: 1px solid #fff;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
  background-color: #333333;
}

.blogShowElement {
  border: 1px solid #fff;
  padding: 0.5em;
  margin: 0 0 0.5em 0;
}

.blogTitle {
  margin-right: 0.5em;
}

.hide-element {
  display: none !important;
}
